---
interface Props {
  Icon: any; // El componente del icono (Tailwind, Bootstrap, etc.)
  name: string; // El nombre de la tecnología
}

const { Icon, name } = Astro.props;
---

<span class="tech h-16 mx-auto text-center">
  <Icon classes="text-dark-900 h-full" />
  <span class="text-sm text-light-900">{name}</span>
</span>