---
const tabs = [
  { name: "Frontend", icon: "World", type: "frontend" },
  { name: "Backend", icon: "Server", type: "backend" },
  { name: "Bases de Datos", icon: "Database", type: "database" },
  { name: "Herramientas", icon: "Tool", type: "tools" },
];
// importing frontend icons
import Tailwind from "../../icons/Tech/Tailwind.astro";
import Bootstrap from "../../icons/Tech/Bootstrap.astro";
import CSS from "../../icons/Tech/Css.astro";
// importing database icons
import Postgresql from "../../icons/Tech/Postgresql.astro";
import MongoDB from "../../icons/Tech/MongoDB.astro";
import Firebase from "../../icons/Tech/Firebase.astro";
// importing backend icons
import Nest from "../../icons/Tech/Nest.astro";
import Express from "../../icons/Tech/Express.astro";
import Swagger from "../../icons/Tech/Swagger.astro";
// importing tools icons
import Proxmox from "../../icons/Tech/Proxmox.astro";
---

<div
  id="techCategories"
  class="w-full flex flex-row gap-2 bg-primary-500 p-2 rounded-2xl mb-5"
>
  {
    tabs.map((tab) => (
      <button
        class="w-full justify-center flex flex-row gap-2 rounded-2xl py-1 hover:bg-dark"
        data-type={tab.type}
      >
        <img
          class="filter invert"
          src={"/icons/" + tab.icon + ".svg"}
          alt={tab.icon + " icon"}
        />
        <span class="hidden md:block text-light-900">{tab.name}</span>
      </button>
    ))
  }
</div>

<div id="techContent">
  <div class="hidden w-full" data-type="frontend">
    <span class="grid grid-cols-4 text-center">
      <span class="tech h-16 mx-auto">
        <Tailwind classes="text-dark-900 h-full" />
        <span class="text-sm text-light-900">Tailwind</span>
      </span>
      <span class="tech h-16 mx-auto text-center">
        <Bootstrap classes="h-full" />
        <span class="text-sm text-light-900">Bootstrap</span>
      </span>
      <span class="tech h-16 mx-auto text-center">
        <CSS classes="text-dark-900 h-full" />
        <span class="text-sm text-light-900">CSS</span>
      </span>
    </span>
  </div>
  <div class="hidden w-full" data-type="database">
    <span class="grid grid-cols-4">
      <span class="tech h-16 mx-auto text-center">
        <Postgresql classes="text-dark-900 h-full" />
        <span class="text-sm text-light-900">Postgresql</span>
      </span>
      <span class="tech h-16 mx-auto text-center">
        <MongoDB classes="text-dark-900 h-full" />
        <span class="text-sm text-light-900">MongoDB</span>
      </span>
      <span class="tech h-16 mx-auto text-center">
        <Firebase classes="text-dark-900 h-full" />
        <span class="text-sm text-light-900 text-center">Firebase</span>
      </span>
    </span>
  </div>
  <div class="hidden w-full" data-type="backend">
    <span class="grid grid-cols-4">
      <span class="tech tech mx-auto h-16 text-center">
        <Nest classes="text-dark-900 h-full" />
        <span class="text-sm text-light-900">NestJS</span>
      </span>
      <span class="tech mx-auto h-16 text-center">
        <Express classes="text-dark-900 h-full" />
        <span class="text-sm text-light-900">Express</span>
      </span>
      <span class="tech mx-auto h-16 text-center">
        <Swagger classes="text-dark-900 h-full" />
        <span class="text-sm text-light-900">Swagger</span>
      </span>
    </span>
  </div>
  <div class="hidden w-full" data-type="tools">
    <span class="grid grid-cols-4">
      <span class="tech mx-auto text-center h-16">
        <Proxmox classes="text-dark-900 h-full" />
        <span class="text-sm text-light-900">Proxmox</span>
      </span>
    </span>
  </div>
</div>

<script>
  import { animate, stagger } from "motion";
  // selectores
  const techCategories = document.getElementById("techCategories");
  const buttons = techCategories?.querySelectorAll("button");
  const techContent = document.getElementById("techContent");
  const content = techContent?.getElementsByTagName("div");
  // clickeando el primer boton
  document.addEventListener("DOMContentLoaded", () => {
    const firstButton = techCategories?.querySelector("button");
    firstButton!.click();
  });
  buttons?.forEach((button) => {
    button.addEventListener("click", () => {
      const type = button.getAttribute("data-type");
      if (!type) return;
      // ocultar todo
      for (let div of content!) {
        div.classList.add("hidden");
      }
      // reset de botones
      buttons.forEach((btn) => {
        btn.classList.remove("bg-dark");
        btn.disabled = false;
      });
      // mostrar el contenedor que corresponde y resaltando boton
      const selectedContent = techContent!.querySelector(
        `div[data-type="${type}"]`
      );
      if (selectedContent) {
        selectedContent.classList.remove("hidden");
        animate(
          selectedContent.querySelectorAll(".tech"),
          { opacity: [0, 1] },
          { duration: 0.5, delay: stagger(0.35) }
        );
        animate(
          selectedContent.querySelectorAll(".tech"),
          {
            opacity: [0, 1],
            transform: ["translateY(-10px)", "translateY(0px)"],
          },
          { duration: 0.6, delay: stagger(0.3) }
        );
      }
      button.classList.add("bg-dark");
      button.disabled = true;
    });
  });
</script>
