---
import DownloadIcon from "../icons/Download.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import Verified from "../icons/Verified.astro";

const cvURL =
  "https://drive.google.com/file/d/1HF_muFL3rThWa1D6SmLEjlascO4f2PK7/view?usp=sharing";
---

<div class="flex flex-col items-center gap-6 md:gap-9">
  <div class="relative">
    <img
      id="mainImage"
      class="object-fill rounded-full max-h-48 md:max-h-64 w-auto"
      src="/irl_cropped.webp"
      alt="Christopher Sae Glood"
      width="300"
      height="300"
    />
    <div class="absolute bottom-2 right-2 md:bottom-2 md:right-2 text-accent">
      <Verified classes="w-12 h-12 md:w-16 md:h-16" />
    </div>
  </div>

  <div
    class="flex flex-col items-center w-full max-w-lg gap-9 md:gap-12 text-center md:text-left"
  >
    <span class="flex flex-col items-center gap-3 md:gap-6">
      <h1 class="text-4xl font-bold text-light">Christopher Sae Glood</h1>
      <h2 class="text-2xl font-bold text-accent-500">Programador Fullstack</h2>
    </span>

    <div class="flex flex-row flex-wrap justify-center gap-4 w-full sm:gap-8">
      <a
        href="/CV_Christopher_Sae_Glood_Fullstack.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="flex flex-row justify-center items-center gap-2 w-full sm:w-auto bg-secondary hover:bg-secondary-hover text-text-inverted rounded-xl px-4 py-2 transition-colors duration-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-interactive focus-visible:ring-offset-2 focus-visible:ring-offset-background whitespace-nowrap"
      >
        <DownloadIcon classes="w-6 h-6" />
        <h4 class="">Descargar CV</h4>
      </a>
      <a
        href="https://linkedin.com/in/christopherglood/"
        target="_blank"
        rel="noopener noreferrer"
        class="flex flex-row justify-center items-center gap-2 w-full sm:w-auto border border-secondary hover:border-secondary-hover text-accent hover:text-accent-hover rounded-xl px-4 py-2 transition-colors duration-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-interactive focus-visible:rounded focus-visible:ring-offset-2 focus-visible:ring-offset-background whitespace-nowrap"
      >
        <LinkedinIcon classes="w-6 h-6" />
        <h4 class="">Contáctame</h4>
      </a>
    </div>
  </div>
</div>
