---
import { t } from "../i18n/translations";
import type { Lang } from "../i18n/translations";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const tr = t(lang);
---

<div
  id="detailed-aboutme"
  class="w-full flex flex-col lg:flex-row gap-4 lg:gap-8"
>
  <div class="flex flex-col gap-4 w-full lg:w-full text-text">
    <p>{tr.bioP1}</p>
    <p>{tr.bioP2}</p>
    <p>{tr.bioP3}</p>
  </div>
</div>
