---

---

<div
  id="aboutme"
  class="w-full flex flex-col gap-4 lg:flex-row-reverse lg:items-center lg:gap-8"
>
  <div class="w-full lg:w-1/3 flex justify-center">
    <img
      src="/museum_cropper.png"
      alt="Museum Photo"
      class="object-fill w-full md:max-w-md lg:max-w-lg rounded-lg"
      width="500"
      height="300"
    />
  </div>
  <div class="flex flex-col gap-4 w-full lg:w-2/3 text-light-900 text-justify">
    <p>
      ¡Hola! Soy Christopher Glood, un desarrollador con una profunda pasión por
      la tecnología y la innovación. Siempre busco aprender nuevas herramientas
      y enfoques para crear soluciones que faciliten el acceso a información y
      mejoren la experiencia digital de las personas.
    </p>
    <p>
      Desde joven, la tecnología ha sido una de mis grandes pasiones, pero
      también la música, lo que ha influido en mi enfoque creativo en la
      programación.
    </p>
    <p>
      Mi objetivo es seguir aprendiendo y contribuir al desarrollo de soluciones
      tecnológicas que beneficien a la comunidad y mejoren el acceso a contenido
      de calidad.
    </p>
  </div>
</div>
