---
import FilledHeart from '../icons/FilledHeart.astro';
---

<footer class="w-full flex flex-row justify-center items-center gap-2 bg-gray-800 text-white py-4">

	<span>Made with</span>
	<FilledHeart />
	<span>by Christopher Glood</span>

</footer>
