---
import VerifiedIcon from '../icons/Verified.astro';
import DropdownIcon from '../icons/Dropdown.astro';
---

<div
  class="flex flex-row w-full h-max flex-wrap justify-between gap-4 px-8 py-3 bg-gray-800 text-gray-50 items-center md:flex-nowrap"
>
  <div class="flex flex-row justify-between w-full items-center md:w-auto">
    <a
      class="flex flex-row gap-2 items-center hover:brightness-90 transition-all ease-in-out duration-200 md:w-max"
      href="https://github.com/chrisestabaocupado"
    >
      <img
        class="rounded-full w-9 h-9"
        src="/pfp.png"
        alt="Christopher's Profile Pic"
      />
      <h1 class="text-lg font-bold">chrisestabaocupado</h1>
	  <VerifiedIcon />      
	</a>
    <button
      id="links-toggle"
      class="rounded border p-2 border-transparent hover:bg-gray-500 transition-all duration-100 ease-in-out md:hidden md:w-50"
    >
		<DropdownIcon />
	</button>
  </div>

  <div
    class="hidden bg-gray-600 rounded-lg mb-2 order-last w-full shadow-md md:mb-0 md:p-0 md:flex md:flex-row md:justify-end md:bg-transparent md:shadow-none"
    id="links"
  >
    <ul
      class="flex flex-col justify-between text-white items-center text-center text-base sm:flex-row md:gap-10 md:w-fit"
    >
      <li
        class="w-full rounded-t-lg hover:bg-gray-500 transition-colors ease-in-out duration-100 sm:rounded-tr-none sm:rounded-l-lg md:hover:bg-transparent"
      >
        <a
          class="inline-block w-full py-2.5 font-semibold hover:text-gray-200 transition-colors duration-100 ease-linear md:w-max"
          href="#"
        >
          Home
        </a>
      </li>
      <li
        class="w-full hover:bg-gray-500 transition-colors ease-in-out duration-100 md:hover:bg-transparent"
      >
        <a
          class="inline-block w-full py-2.5 font-semibold hover:text-gray-200 transition-colors duration-100 ease-linear md:w-max"
          href="#"
        >
          About me
        </a>
      </li>
      <li
        class="w-full hover:bg-gray-500 transition-colors ease-in-out duration-100 md:hover:bg-transparent"
      >
        <a
          class="inline-block w-full py-2.5 font-semibold hover:text-gray-200 transition-colors duration-100 ease-linear md:w-max"
          href="#"
        >
          Contact
        </a>
      </li>
      <li
        class="w-full rounded-b-lg hover:bg-gray-500 transition-colors ease-in-out duration-100 sm:rounded-bl-none sm:rounded-r-lg md:hover:bg-transparent"
      >
        <a
          class="inline-block w-full py-2.5 font-semibold hover:text-gray-200 transition-colors duration-100 ease-linear md:w-max"
          href="#"
        >
          Content
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
  const toggle = document.getElementById("links-toggle");
  toggle?.addEventListener("click", () => {
    const links = document.getElementById("links");
    links?.classList.toggle("hidden");
  });
</script>

<style></style>
