---
import DropdownIcon from "../icons/Dropdown.astro";
import MailIcon from "../icons/Mail.astro";
const sections = [
  { name: "Inicio", href: "#home" },
  { name: "Sobre mi", href: "#aboutme" },
  { name: "Proyectos", href: "#" },
];
---

<div
  class="flex flex-row w-full h-max flex-wrap justify-between text-text gap-4 py-4 items-center md:flex-nowrap lg:max-w-4xl lg:mx-auto"
>
  <div class="flex flex-row justify-between items-center w-full">
    <a
      class="flex flex-row gap-1 items-center hover:text-accent-hover transition-colors duration-200 md:w-max"
      href="mailto:christopherglood@gmail.com"
    >
      <MailIcon classes="w-4 h-4" />
      <span>christopherglood@gmail.com</span>
    </a>
    <button
      aria-label="navbarToggle"
      id="links-toggle"
      class="rounded border p-2 border-transparent hover:bg-primary-hover transition-colors duration-200 md:hidden md:w-50"
    >
      <DropdownIcon />
    </button>
  </div>

  <div
    class="hidden bg-background-500 rounded-lg mb-2 order-last w-full shadow-md md:mb-0 md:p-0 md:flex md:flex-row md:justify-end md:bg-transparent md:shadow-none"
    id="links"
  >
    <ul
      class="flex flex-col justify-between items-center text-center sm:flex-row md:gap-10 md:w-fit"
    >
      {
        sections.map((section) => (
          <li class="w-full hover:bg-primary-hover transition-colors duration-200 md:hover:bg-transparent">
            <a
              class="inline-block w-full py-2.5 hover:text-accent-hover transition-colors duration-200 md:w-max"
              href={section.href}
            >
              {section.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<script>
  const toggle = document.getElementById("links-toggle");
  toggle?.addEventListener("click", () => {
    const links = document.getElementById("links");
    links?.classList.toggle("hidden");
  });
</script>

<style></style>
