---
const { name, description, html_url, topics } = Astro.props;
---

<a>

	<div class="flex flex-col gap-5 justify-between w-full text-white">
		<div>
			<h1 class="text-xl">{name}</h1>
		</div>

		<div class="flex flex-row gap-5">
			{
				topics.map((tag: String) => (
					<span class="px-3 bg-gray-700 rounded-lg shadow-lg">
						{tag}
					</span>
				))
			}
		</div>
		<p>
			{description}
		</p>

		<a href="https://www.w3schools.com">Visit W3Schools.com!</a>
	</div>

</a>


<style>

</style>
